*.pyc
.DS_Store
*.log
src/ricco/*.csv
/*.pkl*
**/*.csv
**/*.xls
**/*.xlsx
**/*.doc
**/*.docx
test.py
.idea/

# python package
*.egg-info/
dist/
build/
*/__pycache__

# sphinx
doc/_build/

cov_html/
.coverage
htmlcov

.vscode/
venv/
.venv/
.tox/
.mypy_cache/
.pytest_cache/

#autoenv
.autoenv
.autoenv.leave
.env
.env.leave

#vim
.ropeproject


#testfile
.develop_file/
.develop_file