*.pyc
.DS_Store
*.log
/*.pkl*

.idea/

# python package
*.egg-info/
dist/
*/__pycache__

# sphinx
doc/_build/
doc/source/_build/
doc/build/

cov_html/
.coverage
htmlcov

.vscode/
venv/
.venv/
.tox/
.mypy_cache/
.pytest_cache/

#autoenv
.autoenv
.autoenv.leave
.env
.env.leave

#vim
.ropeproject

#testfile
.develop_file/
.develop_file

local
src/ricco/local/

#files
src/ricco/*/*.csv
!src/ricco/resource/bd_region.csv
