attrs==19.3.0
click==7.1.2
cligj==0.5.0
Fiona==1.8.13
GDAL==3.0.4
geojson==2.5.0
geopandas==0.8.0
more-itertools==8.4.0
munch==2.5.0
numpy==1.18.5
packaging==20.4
pandas==1.0.5
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pypinyin==0.38.0
pyproj==2.6.1.post1
pytest==5.4.3
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2020.1
requests==2.24.0
Shapely==1.7.0
six==1.15.0
tqdm==4.47.0
wcwidth==0.2.5
xlrd==1.2.0
